{% block head %}

<head>
    <!-- query what -->
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,mininum-scale=1.0,maximum-scale=1.0,user-scalabel=yes">
    <title>
        {% if title %} {{ title }} {% else %} Sanwa {% endif %}
    </title>
    {% if favicon %}
    <link rel="icon" href="{{ url_for('static', filename=favicon ) }}"> {% endif %} {% if theme.css %}
    <link rel="stylesheet" href="{{ url_for('static',filename= theme.css )}}">{% endif %}
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/github.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/codehilite.css' )}}">
    <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/google/code-prettify/master/loader/skins/desert.css"> -->

</head>
{% endblock head %}